<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Панель вантажника</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Панель вантажника</h1>

<div class="card">
    <h2>Керування складом</h2>
    <div class="button-bar">
        <a href="/loader/inventory"><button class="second">Товари на складі</button></a>
        <a href="/loader/movements"><button class="second">Рух товарів</button></a>
    </div>
</div>

<div class="button-bar">
    <a href="/logout"><button class="danger">Вийти</button></a>
</div>
</body>
</html>