<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Залишки товарів на складі</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Товари на складі</h1>

<div class="button-bar">
    <!-- Show "Back" button if the user has MANAGER role -->
    <a th:if="${role == 'MANAGER'}" href="/manager">
        <button class="first">Назад</button>
    </a>

    <!-- Show "Back" button if the user has LOADER role -->
    <a th:if="${role == 'LOADER'}" href="/loader">
        <button class="first">Назад</button>
    </a>
</div>

<div id="suppliersTable" class="card">
    <h2>Список товарів на складі</h2>

    <input type="text" id="searchInput" class="search-bar" placeholder="Пошук...">

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Товар</th>
            <th>Локація (Стелаж / Рівень / Позиція)</th>
            <th>Кількість</th>
            <th>Останнє оновлення</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="inv : ${inventories}">
            <td th:text="${inv.inventory_id}"></td>
            <td th:text="${inv.item.name}"></td>
            <td th:text="${inv.location.rack + '-' + inv.location.level + '-' + inv.location.position}"></td>
            <td th:text="${inv.quantity}"></td>
            <td th:text="${#temporals.format(inv.last_update, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>

        <!-- Display message if the inventory list is empty -->
        <tr th:if="${#lists.isEmpty(inventories)}">
            <td colspan="5" class="no-data">Немає даних про залишки</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>