<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Мінімальні залишки</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/main.js}"></script>
</head>
<body>

<h1>Контроль мінімальних залишків</h1>

<!-- Панель кнопок -->
<div class="button-bar">
    <a href="/manager"><button class="first">Назад</button></a>
</div>

<!-- Таблиця -->
<div class="card">
    <h2>Стан запасів</h2>
    <input type="text" id="searchInput" class="search-bar" placeholder="Пошук...">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Назва товару</th>
            <th>Постачальник</th>
            <th>Кількість на складі</th>
            <th>Мінімальний рівень</th>
            <th>Дія</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${reorders}" th:classappend="${r.quantity < r.item.min_level} ? 'low-stock'">
            <td th:text="${r.inventory_id}"></td>
            <td th:text="${r.item.name}"></td>
            <td th:text="${r.item.supplier.name_company}"></td>
            <td th:text="${r.quantity}"></td>
            <td th:text="${r.item.min_level}"></td>
            <td>
                <a th:href="@{/manager/reorder/push}">Поповнити</a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(reorders)}">
            <td colspan="6" class="no-data">Даних не знайдено</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>